# Configuration BDD locale (XAMPP)
DB_LOCAL_HOST=localhost
DB_LOCAL_NAME=vite_et_gourmand
DB_LOCAL_USER=root
DB_LOCAL_PASSWORD=

# Configuration BDD distante (à remplir avec vos identifiants)
DB_REMOTE_HOST=
DB_REMOTE_NAME=
DB_REMOTE_USER=
DB_REMOTE_PASSWORD=